html,
body,
header,
#intro {
    height: 97%;
}

#intro {
    background: url("../img/zucchini pasta (2).jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.modal-dialog {
    margin-top: 8%;
}

#slogan, #pagetitle, .hr-light {
    color:#fff;
}

@media(min-width:1200px) {
    #pagetitle {
        margin-top: 40%
    }
}


nav {
    background-color: #002236;
}

.btn-default {
    background-color: #002236;
}
h1, h2, h3, h4, h5, h6, a {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Helvetica, sans-serif;
	font-weight: normal;
}

.avatar-pic {
    width: 50px; 
}

a:hover, #home:hover, #catalog:hover, #signin:hover {
    opacity: 0.3;
}

.card {
    margin-top: 15%;
}