<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Catalog Page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        
        <!-- Your custom styles (optional) -->
        <link href="css/style2.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark flex-row">
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand" href="#"><h5><i id="icon" class="fa fa-cutlery"></i> <i>More </i>Recipes</h5></a>
        
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                        <!-- Links -->
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a id="home" class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a id="catalog" class="nav-link" href="catalog.html">Catalog</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Popular Recipes</a>
                                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Jollof Rice and Chicken</a>
                                    <a class="dropdown-item" href="#">Chocolate Caramel Brownie</a>
                                    <a class="dropdown-item" href="#">Warm Peanut Butter Bananas</a>
                                    <a class="dropdown-item" href="#">Chiken Apple Pasta</a>
                                </div>
                            </li>
        
                        </ul>
                        <!-- Links -->
        
                        <!-- Search form -->
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="text" placeholder="find recipes" aria-label="Search">
                        </form>
                
                    </div>
                    <!-- Collapsible content -->
                </div>
            </nav>
            <!--/.Navbar-->         
        </header>

        <main class="mt-4 pt-4">
            <!--Main container-->
            <div class="container">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12 mb-4">           
                        <!--Carousel Wrapper-->
                        <div id="recipecarousel" class="carousel slide carousel-fade" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                                <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <!--First slide-->
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="./img/recipe3.jpg" alt="First slide">
                                    
                                </div>
                                <!--/First slide-->
                                <!--Second slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="./img/recipe5.jpeg" alt="Second slide">
                                </div>
                                <!--/Second slide-->
                                <!--Third slide-->
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="./img/chocolate caramel brownies.jpg" alt="Chocolate caramel brownies">
                                </div>
                                <!--/Third slide-->
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#recipecarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#recipecarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
        
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card w-40">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/jollof rice.jpg" class="img-fluid" alt="jollof rice and chicken">
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Jollof Rice and Chicken</h6>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card w-40">     
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="./img/pounded yam and egusi.jpg" class="img-fluid" alt="pounded yam and egusi">
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Pounded Yam and Egusi</h5>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>
                            
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
        
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">  
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/warm-peanut-butter-bananas.jpg" class="img-fluid" alt="warm peanut butter and bananas">
                            </div>   
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Warm Peanut Butter Bananas</h5>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>     
                        </div>
                        <!--/.Card-->
        
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">           
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/juicy roasted chicken.jpg" class="img-fluid" alt="juicy roasted chiken">    
                            </div>    
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Juicy Roasted Chicken</h5>
                                <!--Text-->
                                <p class="card-text"></p>   
                            </div>              
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/ham tetrazzini.jpg" class="img-fluid" alt="ham tetrazzini">
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Ham Tetrazzini</h5>
                                <!--Text-->
                                <p class="card-text"></p>       
                            </div>
                        
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card">    
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/fried rice with chicken.jpg" class="img-fluid" alt="fried rice and chicken">    
                            </div>  
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Fried Rice and Chicken</h5>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>       
                        </div>
                        <!--/.Card--> 
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">         
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/white rice with tilapia.jpg" class="img-fluid" alt="white rice and tilapia"> 
                            </div>     
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">White Rice and Tilapia</h5>
                                <!--Text-->
                                <p class="card-text"></p>   
                            </div>
                                        
                        </div>
                        <!--/.Card-->
                
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">             
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/VegetableSoup.jpg" class="img-fluid" alt="homemade vegetable soup">    
                            </div>
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Homemade Vegetable Soup</h5>
                                <!--Text-->
                                <p class="card-text"></p>           
                            </div>                        
                        </div>
                        <!--/.Card--> 
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/chickenApplePasta.jpg" class="img-fluid" alt="chicken apple pasta">
                                    
                            </div>
                            <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h5 class="card-title font-weight-bold text-center">Chiken Apple Pasta</h5>
                            <!--Text-->
                            <p class="card-text"></p>       
                        </div>
                        
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/image2.jpg" class="img-fluid" alt="chips and sandwich">
                            </div>   
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Chips and Sandwich</h5>
                                <!--Text-->
                                <p class="card-text"></p>      
                            </div>        
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">       
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/chocolate caramel.jpg" class="img-fluid" alt="chocolate caramel brownies">
                            </div>    
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Chocolate Caramel Brownies</h5>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>          
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="card">             
                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="img/spaghetti with bacon.jpg" class="img-fluid" alt="spaghetti and bacon">
                            </div>  
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h5 class="card-title font-weight-bold text-center">Spaghetti and Bacon</h5>
                                <!--Text-->
                                <p class="card-text"></p>
                            </div>                     
                        </div>
                    <!--/.Card-->       
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!--Main container-->
        </main>

        <!--Footer-->
        <footer class="page-footer">
            <!--Copyright-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-white">
                            © 2017 Copyright: <a class="text-white" href="https://www.morerecipes.com"> morerecipes.com </a>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
        </footer>
        <!--/.Footer-->




        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        
    </body>
</html>