<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Recipes Page</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        
        <!-- Your custom styles (optional) -->
        <link href="css/style2.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <!--Navbar-->
            <nav class="navbar navbar-expand-md navbar-dark flex-row">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" href="#"><h5><i id="icon" class="fa fa-cutlery"></i> <i>More </i>Recipes</h5></a>
        
            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            
            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
                <!-- Links -->
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="recipe.html">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profile.html">Profile</a>
                    </li>
        
                </ul>
                <!-- Links -->
        
                <!-- Search form -->
                <form class="form-inline">
                    <span><i class="fa fa-search fa-lg text-white" aria-hidden="true"></i></span>
                    <input class="form-control mr-sm-2" type="text" placeholder="find recipes" aria-label="Search">
                </form>
                
                
            </div>
            <!-- Collapsible content -->
        </div>
        </nav>
        <!--/.Navbar-->         
        </header>

        <!--Main container-->
        <div class="container">
                
            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-sm-12 col-md-6 mb-4">
                    <div class="card w-40">       
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/chocolate caramel.jpg" class="img-fluid" alt="">
                        </div>    
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h5 class="card-title font-weight-bold text-center">Chocolate Caramel Brownies</h5>
                            <!--Text-->
                            <p class="card-text"></p>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                                
                            </div>
                        </div>
                                
                    </div>
                    <!--/.Card-->
        
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-sm-12 col-md-6 mb-3">
                    <div class="card">
                                
                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="img/fried rice with chicken.jpg" class="img-fluid" alt="">
                        </div>
                                
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h5 class="card-title font-weight-bold text-center">Fried rice and chicken</h5>
                            <!--Text-->
                            <p class="card-text"></p>
                            <div class="card-footer">
                                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>    
                            </div>
                        </div>
                                
                    </div>
                    <!--/.Card-->
                </div>
                <!--Grid column-->

            </div>
        </div>




        <div class="container col">            
                <!--Edit Recipe Modal -->
                <div class="modal fade" id="modal" role="dialog">
                    <div class="modal-dialog modal-md">
                                      
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title font-weight-bold">Edit Recipe</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                            
                                <form action="" method="POST" role="form">
                                    
                                        <div class="file-field row">
                                                <div class="btn btn-outline-info waves-effect btn-sm">
                                                    <span>Choose image</span>
                                                    <input type="file ">
                                                </div>
                                                
                                            </div>
                                    
                                            
                                    <div class="form-group">
                                        
                                        <label class="control-label font-weight-bold" for="text"> Name: </label>
                                        
                                        <input type="text" class="form-control" id="" placeholder="" autofocus required>
                                    
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="text"> Description: </label>
                                        <input type="textarea" class="form-control" id="" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="text"> Ingredients: </label>
                                        <input type="textarea" class="form-control" id="" required>
                                    </div>
                                    
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="text"> Directions: </label>
                                        <input type="textarea" class="form-control" id="" required>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label font-weight-bold" for="number"> Time(min): </label>
                                        <input type="number" min="0" class="form-control" id="" required>
                                    </div>
  
                                    <div class="modal-footer">
                                            <button type="submit" class="btn btn-success">Save</button>
                                    </div>
                                </form>
                                            
                            </div> 
                                
                                    
                        </div>
                    </div>
                        
                </div>
            </div>

        <!-- SCRIPTS -->
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        
    </body>
</html>